@if (loggerStore.isLoading()) {
<h4>Loading...</h4>
} @else { @if (playlist(); as pl) {
<h1>EDITING Logging Sheet - {{ show().name }}</h1>
<div class="datestring-with-picker">
  <mat-form-field>
    <mat-label>Show date</mat-label>
    <input
      matInput
      [matDatepicker]="datepicker"
      [value]="pl.date"
      [formControl]="showDateControl"
    />
    <mat-datepicker-toggle
      matIconSuffix
      [for]="datepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button
          matFab
          color="primary"
          aria-label="Change date"
          matDatepickerApply
        >
          <mat-icon>check</mat-icon>
        </button>
        <button
          matFab
          color="accent"
          aria-label="Cancel date change"
          matDatepickerCancel
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>
<app-quota-display
  [quotas]="quotas()"
  [totalDuration]="totalDuration()"
  [complete]="pl.complete"
>
</app-quota-display>
<div style="padding-top: 12px">
  <mat-accordion
    class="catalogue-accordion-sapphire-nightfall mat-elevation-z0"
  >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="big-icon">new_releases</mat-icon>
          <b><span>See recently uploaded</span></b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-playlist-catalogue-recent
        (addFromCatalogue)="onAddedFromCatalogue($event)"
      />
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="catalogue-accordion mat-elevation-z0">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="big-icon">search</mat-icon>
          <b><span>Search the catalogue</span></b>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-playlist-catalogue-finder
        (addFromCatalogue)="onAddedFromCatalogue($event)"
      />
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider />
  <h3 style="opacity: 0.7">Track list</h3>
  <mat-divider />
  <app-playlist-entry-list
    [playlist]="pl"
    [entries]="entries()"
    action="edit"
    (entryDeleted)="onEntryDeleted($event)"
    (entrySaved)="onEntrySaved($event)"
  ></app-playlist-entry-list>
  <h3 style="opacity: 0.7">Add track</h3>
  <mat-divider />
  <app-playlist-entry-editor
    [input]="newEntryTemplate()"
    (saved)="onNewEntrySaved($event)"
    action="create"
    [shadow]="false"
  />
  <button
    [class]="pl.complete ? 'card-button-blue-submitted' : 'card-button-blue'"
    color="primary"
    [disabled]="pl.complete"
    (click)="onSubmitted($event)"
  >
    <mat-icon class="big-icon">send</mat-icon>
    @if (pl.complete) {
    <b><span>Submitted</span></b>
    } @else {
    <b><span>Submit Logging Sheet</span></b>
    }
  </button>
</div>
} }
