@if (store.isLoading()) {
<h4>Loading...</h4>
} @else { @if (playlist(); as pl) {
<h1>EDITING Logging Sheet - {{ show().name }}</h1>
<h3 style="opacity: 0.7">{{ formattedDate() }}</h3>
<app-quota-display
  [quotas]="quotas()"
  [totalDuration]="totalDuration()"
  [complete]="pl.complete"
></app-quota-display>
<app-playlist-entry-list
  [playlist]="pl"
  [entries]="entries()"
  action="edit"
  (entryDeleted)="onEntryDeleted($event)"
  (entrySaved)="onEntrySaved($event)"
></app-playlist-entry-list>
@if (creatingNewEntry()) {
<app-playlist-entry-editor
  [input]="newEntryTemplate()"
  (saved)="onNewEntrySaved($event)"
  (cancelled)="onNewEntryCancelled()"
  action="create"
/>
} @else {
<button class="card-button" (click)="onCataloguePressed($event)">
  <mat-icon class="big-icon">search</mat-icon>
  <b><span style="font-size: 24px">Choose from the catalogue</span></b>
</button>
<button class="card-button-orange" (click)="onNewEntryAdded($event)">
  <mat-icon class="big-icon">add</mat-icon>
  <b><span style="font-size: 24px">Add a new track</span></b>
</button>
}
<button
  [class]="pl.complete ? 'card-button-blue-submitted' : 'card-button-blue'"
  color="primary"
  [disabled]="pl.complete"
  (click)="onSubmitted($event)"
>
  <mat-icon class="big-icon">send</mat-icon>
  @if (pl.complete) {
  <b><span style="font-size: 24px">Submitted</span></b>
  } @else {
  <b><span style="font-size: 24px">Submit Logging Sheet</span></b>
  }
</button>
} }
