@if (loggerStore.isLoading()) {
<h4>Loading...</h4>
} @else { @if (playlist(); as pl) {
<h1>EDITING Logging Sheet - {{ show().name }}</h1>
<h3 style="opacity: 0.7">{{ formattedDate() }}</h3>
<app-quota-display
  [quotas]="quotas()"
  [totalDuration]="totalDuration()"
  [complete]="pl.complete"
>
</app-quota-display>
<mat-accordion class="catalogue-accordion mat-elevation-z0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="big-icon">search</mat-icon>
        <b><span>Choose from the catalogue</span></b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-quick-search />
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="catalogue-accordion-orange mat-elevation-z0">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="big-icon">add</mat-icon>
        <b><span>Add a new track</span></b>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-playlist-entry-editor
      [input]="newEntryTemplate()"
      (saved)="onNewEntrySaved($event)"
      action="create"
      [shadow]="false"
    />
  </mat-expansion-panel>
</mat-accordion>

<div style="padding-top: 16px">
  <h3 style="opacity: 0.7">Track list</h3>
  <mat-divider />
  <app-playlist-entry-list
    [playlist]="pl"
    [entries]="entries()"
    action="edit"
    (entryDeleted)="onEntryDeleted($event)"
    (entrySaved)="onEntrySaved($event)"
  ></app-playlist-entry-list>
  <button
    [class]="pl.complete ? 'card-button-blue-submitted' : 'card-button-blue'"
    color="primary"
    [disabled]="pl.complete"
    (click)="onSubmitted($event)"
  >
    <mat-icon class="big-icon">send</mat-icon>
    @if (pl.complete) {
    <b><span>Submitted</span></b>
    } @else {
    <b><span>Submit Logging Sheet</span></b>
    }
  </button>
</div>
} }
