<table mat-table matSort [dataSource]="comments">
  <ng-container matColumnDef="author">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element" class="author">
      <img [src]="element.author.gravatar + '?d=retro'" /><br />
      {{ element.author.first_name + ' ' + element.author.last_name }}
    </td>
  </ng-container>
  <ng-container matColumnDef="comment">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>comment</th>
    <td mat-cell *matCellDef="let element">
      <strong> {{ element.release.artist }} - {{ element.release.title }} </strong><br />

      <div class="comment-text" *ngIf="truncate; else full">
        {{ element.comment | slice: 0:400 }}...
        <a *ngIf="element.comment.length > 400" [routerLink]="['releases', element.release.id]"
          >[more]</a
        >
      </div>
      <ng-template #full>
        <div class="comment-text">{{ element.comment }}...</div>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row sticky *matHeaderRowDef="commentColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: commentColumns"
    (click)="commentSelected.emit(row)"
  ></tr>
</table>
