@if ((loading$ | async) !== true) {
  <table mat-table matSort [dataSource]="comments">
    <ng-container matColumnDef="author">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let element" class="author">
        <img [src]="element.author?.gravatar + '?d=retro'" /><br />
        {{ element.author?.first_name + " " + element.author?.last_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">
        <strong>
          {{ element.release.artist }} - {{ element.release.title }}
        </strong>
        <br />
        <div class="comment-text">{{ element.comment }}</div>
      </td>
    </ng-container>
    @if (isModerator) {
      <ng-container matColumnDef="tools">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [disabled]="true"
        ></th>
        <td mat-cell *matCellDef="let element">
          <button
            matFab
            color="primary"
            aria-label="Remove this comment."
            (click)="onVisibilityClicked($event, element)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>
    }

    <tr mat-header-row sticky *matHeaderRowDef="commentColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: commentColumns"
      (click)="row?.visible && commentSelected.emit(row)"
    ></tr>
  </table>
} @else {
  <mat-spinner></mat-spinner>
}
