.compact-mat-table {
  --mat-table-row-item-container-height: 32px;
  --mat-table-header-container-height: 36px;

  .mat-mdc-cell,
  .mat-mdc-header-cell {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
