.form-container {
  min-height: 45px;
}
.form-container .small {
  width: 80px;
}
.form-container > * {
  width: 380px;
}

.actions {
  float: right;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
