.entry-list-container {
  gap: 4px;
}

.entry-info-container {
  display: flex;
  gap: 8px;
}

.entry-icon-text-container {
  display: flex;
  align-items: center; /* Vertically aligns items in the center */
  gap: 4px; /* Adds optional clean spacing between icon and text */
}
