.compact-mat-table {
  // --mat-table-row-item-container-height: 32px;
  // --mat-table-header-container-height: 36px;

  // .mat-mdc-cell,
  // .mat-mdc-header-cell {
  //   padding-left: 8px !important;
  //   padding-right: 8px !important;
  // }
}

th.min-fit-table-column,
td.min-fit-table-column {
  width: 1px;
  white-space: nowrap; /* Prevents text or element wrapping */
}

.quota-check-container-table {
  /* Flexbox Layout inside the box */
  display: flex;
  flex-direction: row;
}

.release-list-compact-panel-title {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.release-list-compact-desc-top {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0;
}

.release-list-compact-desc-internal {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
