@if (releases(); as list) {
  <mat-accordion class="release-list-compact-accordion">
    @for (release of list; track release.id) {
      <mat-expansion-panel
        togglePosition="before"
        (opened)="onReleaseOpened(release)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div style="gap: 8px; display: flex; align-items: center">
              <mat-icon>person</mat-icon>
              {{ release.artist }}
            </div>
          </mat-panel-title>
          <mat-panel-description>
            <div style="gap: 8px; display: flex; align-items: center">
              <mat-icon>album</mat-icon>
              {{ release.title }}
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          @if (releaseStore.isLoading()) {
            <mat-progress-bar mode="indeterminate" />
          } @else {
            <app-release-list-compact-tracks [releaseId]="release.id" />
          }
        </ng-template>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
