:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;

  .track-info {
    font-size: 10pt;
    margin-left: 10px;

    .artist {
      font-weight: bold;
    }
  }

  .mat-progress-spinner circle {
    stroke: #ffffff;
  }
}
