<div class="actions">
  <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">
    Save Supporter
  </button>
</div>
<h1 *ngIf="_supporter">{{ _supporter.first_name }} {{ _supporter.last_name }}</h1>

<form [formGroup]="form">
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="first_name" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name / Band Name" formControlName="last_name" />
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="dobPicker"
        placeholder="Date of Birth"
        formControlName="dob"
      />
      <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
      <mat-datepicker #dobPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <h2>Address</h2>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Address Line 1" formControlName="address1" />
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Address Line 2" formControlName="address2" />
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Town / Suburb" formControlName="town" />
    </mat-form-field>
    <mat-form-field class="small">
      <input matInput placeholder="State" formControlName="state" />
    </mat-form-field>
    <mat-form-field class="small">
      <input matInput placeholder="Postcode" formControlName="postcode" />
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Country" formControlName="country" />
    </mat-form-field>
  </div>
  <h2>Contacts</h2>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Phone" formControlName="phone_mobile" />
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="email" />
    </mat-form-field>
  </div>
</form>
