<table mat-table [dataSource]="transactions">
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'yyyy-MM-dd' }}</td>
  </ng-container>

  <ng-container matColumnDef="transaction_type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.transaction_type }}</td>
  </ng-container>

  <ng-container matColumnDef="supporter_id">
    <th mat-header-cell *matHeaderCellDef>Supporter #</th>
    <td mat-cell *matCellDef="let element">{{ element.supporter.id }}</td>
  </ng-container>
  <ng-container matColumnDef="supporter_name">
    <th mat-header-cell *matHeaderCellDef>Supporter</th>
    <td mat-cell *matCellDef="let element">
      {{ element.supporter.first_name }} {{ element.supporter.last_name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>Tags</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list>
        <mat-chip *ngIf="element.payment_processed">PAID</mat-chip>
        <mat-chip *ngIf="!element.payment_processed" color="warn">NOT PAID</mat-chip>
        <mat-chip>{{ element.shipping ? element.shipping.toUpperCase() : 'POST' }}</mat-chip>
        <mat-chip *ngIf="element.pack_sent">{{
          element.shipping == 'pickup' ? 'COLLECTED' : 'SENT'
        }}</mat-chip>
        <mat-chip *ngIf="!element.pack_sent">{{
          element.shipping == 'pickup' ? 'NOT COLLECTED' : 'NOT SENT'
        }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button (click)="edit.next(element)">Update</button>
    </td>
  </ng-container>

  <tr mat-header-row sticky *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
