<h1>Quick Search</h1>
<form [formGroup]="form">
  <mat-form-field class="full-width">
    <input
      formControlName="search"
      matInput
      type="text"
      placeholder="Search Terms"
      />
  </mat-form-field>
  <button mat-raised-button (click)="search()">Search</button>
</form>

@if (loading$ | async) {
  <mat-progress-bar
    mode="indeterminate"
  ></mat-progress-bar>
}

@if ((results$ | async) && (count$ | async) > 0) {
  <div>
    <h3>{{ count$ | async }} Results</h3>
    <app-release-list
      [releases]="results$ | async"
      (sortChange)="sort($event)"
      (releaseListOpen)="open($event)"
      >
    </app-release-list>
    <mat-paginator
      [pageSizeOptions]="pageSizes"
      [pageIndex]="offset / pageSize"
      [pageSize]="pageSize"
      (page)="paginationChange($event)"
      [length]="count$ | async"
      [pageSize]="10"
    ></mat-paginator>
  </div>
}
