@if (store.isLoading()) {
<h4>Loading shows...</h4>
} @else {
<h1>New Playlist</h1>
<form>
  <div class="vertical-form">
    <mat-form-field>
      <mat-label>Show</mat-label>
      <input
        #showInput
        type="text"
        placeholder="---"
        matInput
        [formControl]="showControl"
        [matAutocomplete]="showsAuto"
        (input)="filter()"
        (focus)="filter()"
      />
      <mat-autocomplete
        requireSelection
        #showsAuto="matAutocomplete"
        [displayWith]="showOptionDisplay"
        (optionSelected)="onShowSelected($event)"
      >
        @for (show of filteredShows(); track show.id) {
        <mat-option [value]="show"> {{show.name}} </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Host</mat-label>
      <input
        #hostInput
        type="text"
        placeholder=""
        matInput
        [formControl]="hostControl"
      />
    </mat-form-field>
    <mat-form-field
      [style.display]="isFillInOptionVisible() ? 'block' : 'none'"
    >
      <mat-label>Is this a fill-in?</mat-label>
      <mat-select [formControl]="fillInControl">
        <mat-option value="yes" selected>Yes</mat-option>
        <mat-option value="no">No</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControl]="dateControl"
        readonly
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</form>
}
