@if (store.isLoading()) {
<h4>Loading shows...</h4>
} @else {
<h1>New Playlist</h1>
<form>
  <div class="vertical-form">
    <mat-form-field>
      <mat-label>Choose Show</mat-label>
      <input
        #showInput
        type="text"
        placeholder="---"
        matInput
        [formControl]="control"
        [matAutocomplete]="showsAuto"
        (input)="filter()"
        (focus)="filter()"
      />
      <mat-autocomplete requireSelection #showsAuto="matAutocomplete">
        @for (show of filteredShows(); track show.id) {
        <mat-option [value]="show.name">{{show.name}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Host</mat-label>
      <input
        #showInput
        type="text"
        placeholder="---"
        matInput
        [formControl]="control"
      />
    </mat-form-field>
  </div>
</form>
}
