@if (input(); as entry) {
  <mat-card class="entry-card">
    <mat-card-header>
      <mat-card-title style="display: flex; align-items: center; gap: 4px">
        <mat-icon>music_note</mat-icon>
        <input
          matInput
          placeholder="Song"
          [value]="entry.title"
          [formControl]="songControl"
        />
      </mat-card-title>
      <mat-card-title-group>
        @if (this.action() !== "create") {
          <button
            mat-icon-button
            aria-label="Remove"
            color="warn"
            (click)="deletion.emit(entry.index)"
          >
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="entry-info-container">
        <div class="entry-icon-text-container">
          <mat-icon>person</mat-icon>
          <input
            matInput
            placeholder="Artist"
            [value]="entry.artist"
            [formControl]="artistControl"
          />
        </div>
        <div class="entry-icon-text-container">
          <mat-icon>album</mat-icon>
          <input
            matInput
            placeholder="Album"
            [value]="entry.album"
            [formControl]="albumControl"
          />
        </div>
        <div class="entry-icon-text-container">
          <mat-icon>av_timer</mat-icon>
          <input
            matInput
            placeholder="MM:SS"
            [value]="entry.duration"
            [formControl]="durationControl"
          />
        </div>
      </div>

      <!-- Quota toggles -->
      <div>
        <mat-button-toggle [checked]="entry.local" aria-label="Toggle local">
          <mat-icon svgIcon="local-icon"></mat-icon>
        </mat-button-toggle>

        <mat-button-toggle
          [checked]="entry.australian"
          aria-label="Toggle australian"
        >
          <mat-icon svgIcon="aus-icon"></mat-icon>
        </mat-button-toggle>

        <mat-button-toggle [checked]="entry.female" aria-label="Toggle female">
          <mat-icon>female</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle
          [checked]="entry.newRelease"
          aria-label="Toggle new release"
        >
          <mat-icon>fiber_new</mat-icon>
        </mat-button-toggle>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        aria-label="Save"
        [disabled]="!canSave()"
        (click)="save()"
      >
        <mat-icon>save</mat-icon>
      </button>
      @if (action() === "create") {
        <button
          mat-icon-button
          aria-label="Cancel"
          color="warn"
          (click)="cancelled.emit()"
        >
          <mat-icon>close</mat-icon>
        </button>
      } @else {
        <button
          mat-icon-button
          aria-label="Undo"
          color="warn"
          [disabled]="!canUndo()"
          (click)="undone.emit()"
        >
          <mat-icon>undo</mat-icon>
        </button>
      }
    </mat-card-actions>
  </mat-card>
}
