@use "@angular/material" as mat;

.editor-div {
  // Applies the standard card shadow
  @include mat.elevation(4);
  width: 100%;
  background-color: var(--mat-sys-surface);
  padding: 4px;
  gap: 8px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.editor-div-no-shadow {
  // Applies the standard card shadow
  @include mat.elevation(0);
  width: 100%;
  background-color: var(--mat-sys-surface);
  padding: 4px;
  gap: 8px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.remove-button-container {
  display: flex;
  justify-content: flex-end; /* Pushes the button to the right */
}

.spacer {
  flex: 1 1 auto; /* Expands to fill all available space */
}
