<form [formGroup]="form">
  <mat-form-field class="full-width">
    <input
      formControlName="search"
      matInput
      type="text"
      placeholder="Search Terms"
    />
  </mat-form-field>

  <button mat-raised-button (click)="quickSearch()">Search</button>
</form>

@if (searchStore.isSearching()) {
  <mat-progress-bar mode="indeterminate" />
} @else {
  @if (searchStore.hasSearchResults()) {
    <h3>{{ searchStore.count() }} Results</h3>
    <div>
      @if (searchStore.results(); as currentResults) {
        <app-release-list-compact [releases]="currentResults">
        </app-release-list-compact>
        <mat-paginator
          [pageSizeOptions]="pageSizes"
          [pageIndex]="offset / pageSize"
          [pageSize]="pageSize"
          (page)="paginationChange($event)"
          [length]="searchStore.count()"
        ></mat-paginator>
      }
    </div>
  }
}
