<form [formGroup]="form">
  <mat-form-field class="full-width">
    <input
      formControlName="search"
      matInput
      type="text"
      placeholder="Search Terms"
    />
  </mat-form-field>

  <button mat-raised-button type="button" (click)="quickSearch()">
    Search
  </button>
  @if (searchStore.isSearching()) {
    <mat-progress-bar mode="indeterminate" />
  } @else {
    @if (searchStore.hasSearchResults()) {
      <div>
        <h3>{{ searchStore.count() }} Results</h3>
        <app-release-list-compact [releases]="searchStore.results()">
        </app-release-list-compact>
        <mat-paginator
          [pageSizeOptions]="pageSizes"
          [pageIndex]="offset / pageSize"
          [pageSize]="pageSize"
          (page)="paginationChange($event)"
          [length]="searchStore.count()"
        ></mat-paginator>
      </div>
    }
  }
</form>
