<mat-card>
  <mat-card-header>
    <mat-card-title>{{ show()?.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ formattedDate() }}, hosted by {{ playlist().host }}
    </mat-card-subtitle>
    <h1>
      <span class="faded-text-in-h1"> </span>
    </h1>
  </mat-card-header>
  <mat-card-content>
    <span class="faded-text">
      {{ playlist().notes }}
    </span>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button
      matFab
      extended
      color="primary"
      [routerLink]="['/playlists/view', playlist().id]"
    >
      <mat-icon>art_track</mat-icon>
      View
    </button>
    <mat-divider [vertical]="false"></mat-divider>
    <button
      matFab
      extended
      color="secondary"
      [disabled]="playlist().complete"
      [routerLink]="['/playlists/edit', playlist().id]"
    >
      <mat-icon>edit</mat-icon>
      @if (playlist().complete) {
        Submitted
      } @else {
        Edit
      }
    </button>
    <mat-divider [vertical]="false"></mat-divider>
    <button matFab extended color="accent" [matMenuTriggerFor]="exportMenu">
      <mat-icon>build</mat-icon>
      Export
      <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-menu #exportMenu="matMenu">
  <button mat-menu-item (click)="openTextNoAlbum()">
    <mat-icon>subdirectory_arrow_right</mat-icon>
    <span>Artist - Track</span>
  </button>
  <button mat-menu-item (click)="openTextWithAlbum()">
    <mat-icon>subdirectory_arrow_right</mat-icon>
    <span>Artist - Track, Album</span>
  </button>
  <button mat-menu-item (click)="openCsv()">
    <mat-icon>code</mat-icon>
    <span>CSV</span>
  </button>
</mat-menu>
