<mat-progress-bar
  [style.visibility]="loading ? 'visible' : 'hidden'"
  mode="indeterminate"
  >
</mat-progress-bar>
<form [formGroup]="form" (submit)="submit(form.value)">
  <mat-form-field class="full-width">
    <input
      matInput
      autofocus
      class="full-width"
      formControlName="username"
      placeholder="Username"
      />

    @if (username.hasError('required')) {
      <mat-error>
        Username is
        <strong>required</strong>
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      class="full-width"
      formControlName="password"
      type="password"
      placeholder="Password"
      />

    @if (password.hasError('required')) {
      <mat-error>
        Password is
        <strong>required</strong>
      </mat-error>
    }

    @if (password.hasError('maxlength')) {
      <mat-error>
        Password is too
        <strong>long</strong>
      </mat-error>
    }

    @if (password.hasError('minlength')) {
      <mat-error>
        Password is too
        <strong>short</strong>
      </mat-error>
    }
  </mat-form-field>

  <button mat-raised-button [disabled]="disabled" type="submit">Login</button>
  @if (error) {
    <mat-error>
      Could not log in with the username or password provided.
    </mat-error>
  }
</form>
