.full-width {
  width: 100%;
}
table {
  width: 100%;

  &.comments {
    td {
      vertical-align: top;
      padding: 8px;

      &.author {
        width: 120px;
        text-align: center;
      }
    }
  }
}
