<h2>Upload New Music</h2>

<mat-horizontal-stepper linear>
  <mat-step label="Select Files">
    <p>Select all the files in the album. Select only one album at a time.</p>
    <input type="file" multiple="true" name="files" accept="audio/mp3" (change)="handleSelection($event)">
    <div class="buttons">
      <button mat-button matStepperNext [disabled]="(selectedData$ | async).length === 0">Next</button>
    </div>
  </mat-step>
  <mat-step label="Album Details" [stepControl]="albumDetails">
    <p>Complete the Album Details</p>

    <form [formGroup]="albumDetails">

      <div class="form-container">
        <mat-form-field>
          <input formControlName="artist" matInput placeholder="Album Artist">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="title" matInput placeholder="Album">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="year" matInput placeholder="Year of Release">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="cpa" matInput placeholder="Country">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="company" matInput placeholder="Record Label">
        </mat-form-field>
        <div class="form-row">
          <mat-form-field>
            <mat-select placeholder="Local" formControlName="local">
              <mat-option [value]="2">Yes</mat-option>
              <mat-option [value]="1">No</mat-option>
              <mat-option [value]="3">Some</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Female Artists" formControlName="female">
              <mat-option [value]="2">Yes</mat-option>
              <mat-option [value]="1">No</mat-option>
              <mat-option [value]="3">Some</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Compilation" formControlName="compilation">
              <mat-option [value]="0">Yes</mat-option>
              <mat-option [value]="1">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Track Listing" [stepControl]="trackDetails">
    <div *ngIf="(selectedData$ | async)?.length > 0 && !(loading$ | async)">
      <h2>Track Listing</h2>
      <form [formGroup]="trackDetails">
        <div formArrayName="tracks">
          <div class="form-row" *ngFor="let track of trackDetails.controls['tracks'].controls; index as i" [formGroupName]="i">
            <mat-form-field class="filename">
              <input formControlName="filename" readonly matInput placeholder="Filename">
            </mat-form-field>
            <mat-form-field class="tracknum">
              <input formControlName="tracknum" matInput placeholder="Number">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="trackartist" matInput placeholder="Track Artist">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="tracktitle" matInput placeholder="Title">
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    <div class="buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Confirm Details">
    <p>
      Creating a release called
      <em>{{ albumDetails.value.title }}</em> by
      <em>{{ albumDetails.value.artist }}</em>, with the following track listing:
    </p>
    <ol>
      <li *ngFor="let track of trackDetails.value.tracks">{{ track.title }}</li>
    </ol>
    <div class="buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="submitRelease()">Begin Upload</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
