.highlightable-chip {
  background-color: var(--mdc-chip-elevated-container-color, #e0e0e0);
  color: var(--mdc-chip-label-text-color, rgba(0, 0, 0, 0.87));
  padding: 2px 8px;
  margin: 0px 6px 0px 6px;
  border-radius: 16px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

.horizontal-attribute-container {
  display: inline-flex;
}

.quota-met {
  background-color: #5cb85c;
  color: #fff;
}

.quota-unmet {
  background-color: #d9534f;
  color: #fff;
}
