.highlightable-chip {
  background-color: var(--mdc-chip-elevated-container-color, #e0e0e0);
  color: var(--mdc-chip-label-text-color, rgba(0, 0, 0, 0.87));
  padding: 2px 8px;
  margin: 0px 6px 0px 6px;
  border-radius: 16px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

.horizontal-attribute-container {
  display: inline-flex;
}

.quota-met {
  background-color: #5cb85c;
  color: #fff;
}

.quota-unmet {
  background-color: #d9534f;
  color: #fff;
}

.big-icon {
  width: 48px !important;
  height: 48px !important;
  font-size: 48px !important;
}

.good-icon {
  color: #5cb85c;
}

.card-button {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  background-color: #5cb85c;
  color: #e0e0e0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px;
  border-radius: 4px;
}

.card-button:hover {
  background-color: #52a352;
  --mdc-card-container-color: #52a352;
  color: #e0e0e0;
  /* Elevate or highlight on hover if desired */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-button:focus-visible {
  outline: 2px solid currentColor;
}

.card-button-blue {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
  background-color: #625cb8;
  color: #e0e0e0;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px;
  border-radius: 4px;
}

.card-button-blue:hover {
  background-color: #5752a3;
  --mdc-card-container-color: #5752a3;
  color: #e0e0e0;
  /* Elevate or highlight on hover if desired */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-button-blue:focus-visible {
  outline: 2px solid currentColor;
}

.entry-card {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.entry-info-container {
  display: flex;
  gap: 8px;
  margin-top: 0px;
}

.entry-icon-text-container {
  display: flex;
  align-items: center; /* Vertically aligns items in the center */
  gap: 4px; /* Adds optional clean spacing between icon and text */
}

.med-input {
  width: 100%; /* Spans the full width of the parent container */
  max-width: 300px; /* Limits the absolute maximum size */
}

.short-input {
  width: 100%;
  max-width: 60px;
}
