@if (this.quotas(); as q) {
  <div class="quota-container">
    <app-quota-indicator
      svg="true"
      icon="sa-icon"
      [quota]="q.local"
    ></app-quota-indicator>
    <app-quota-indicator
      svg="true"
      icon="aus-icon"
      [quota]="q.australian"
    ></app-quota-indicator>
    <app-quota-indicator icon="female" [quota]="q.female"></app-quota-indicator>
    <app-duration-indicator
      [duration]="totalDuration()"
    ></app-duration-indicator>
  </div>
} @else {
  <h4>Loading quota display...</h4>
}
