<app-topnav (logout)="logout()"></app-topnav>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        Home
      </a>
      <h3 mat-subheader>Catalogue</h3>
      <a mat-list-item routerLink="/new-releases">
        <mat-icon mat-list-icon>new_releases</mat-icon>
        New Releases
      </a>
      <a mat-list-item routerLink="/search">
        <mat-icon mat-list-icon>search</mat-icon>
        Quick Search
      </a>
      <div *ngIf="false">
        <a mat-list-item routerLink="/advanced-search">
          <mat-icon mat-list-icon>search</mat-icon>
          Advanced Search
        </a>
      </div>
      <h3 mat-subheader>Manage</h3>
      <a mat-list-item routerLink="/upload">
        <mat-icon mat-list-icon>file_upload</mat-icon>
        Upload Music
      </a>
      <div *ngIf="false">
        <a mat-list-item routerLink="/upload">
          <mat-icon mat-list-icon>create</mat-icon>
          Create Entry
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-typography">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
