<app-topnav (logout)="logout()"></app-topnav>
<mat-sidenav-container>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Home</span>
      </a>

      <h3 mat-subheader>Catalogue</h3>
      <a mat-list-item routerLink="/new-releases">
        <mat-icon matListItemIcon>new_releases</mat-icon>
        <span matListItemTitle>New Releases</span>
      </a>
      <a mat-list-item routerLink="/search">
        <mat-icon matListItemIcon>search</mat-icon>
        <span matListItemTitle>Quick Search</span>
      </a>
      <h3 mat-subheader>Manage</h3>
      <a mat-list-item routerLink="/upload" *appInGroup="groups.MusicUploaders">
        <mat-icon matListItemIcon>file_upload</mat-icon>
        <span matListItemTitle>Upload Music</span>
      </a>
      <h3 mat-subheader *appInGroup="groups.SupporterManagement">Supporters</h3>
      <a
        mat-list-item
        href="https://threedradio.profilersystem.com/ProfilerWeb/"
        target="_blank"
        rel="noopener noreferrer"
        *appInGroup="groups.SupporterManagement"
      >
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Profiler</span>
      </a>
      <hr />
      <pre>
        <code>Version {{ appVersion }}</code>
      </pre>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="mat-typography">
    <div class="pad">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar>
  &nbsp;
  <div class="filler"></div>
  <app-play-controller></app-play-controller>
  <div class="filler"></div>
</mat-toolbar>
