mat-sidenav {
  width: 240px;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

mat-sidenav.collapsed {
  width: 70px;
}

.show-collapsed {
  display: none;
}

mat-sidenav.collapsed .hide-collapsed {
  display: none !important;
}

mat-sidenav.collapsed .show-collapsed {
  display: block;
  margin: 8px 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12); /* Clean dividers replacing headers */
}

mat-sidenav-container {
  mat-sidenav-content {
    transition:
      margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      margin-right 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Force the content margin to match the collapsed width of the sidenav */
mat-sidenav.collapsed + mat-sidenav-content {
  margin-left: 70px !important; /* Use margin-right if your sidenav is on the right side */
}

.pad {
  padding: 15px;
}

.filler {
  flex: 1 1 auto;
}

.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  $w: 30px;
  $h: 30px;
  width: $w;
  height: $h;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  right: calc($w / -2) - 2px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;

  &:hover {
    border: 2px solid rgb(36, 82, 231);
  }

  mat-icon {
    font-size: 1.5em;

    width: fit-content;
    height: fit-content;
  }
}
