@if (release$ | async; as release) {
  <div>
    <h1 class="mat-headline-4">
      {{ release.artist }} - {{ release.title }}
      <mat-chip-set style="display: flex; justify-content: center">
        @if (release.local === 2) {
          <mat-chip>
            <mat-icon matChipAvatar>home</mat-icon>Local
          </mat-chip>
        }
        @if (release.cpa) {
          <mat-chip>
            <mat-icon matChipAvatar>place</mat-icon>{{ release.cpa }}
          </mat-chip>
        }
        @if (release.female === 2) {
          <mat-chip>
            <mat-icon matChipAvatar>female</mat-icon> Female
          </mat-chip>
        }
        @if (release.genre) {
          <mat-chip>
            <mat-icon matChipAvatar>music_note</mat-icon>{{ release.genre }}
          </mat-chip>
        }
      </mat-chip-set>
    </h1>
    <h2>Tracks</h2>
    <table mat-table [dataSource]="tracks$ | async">
      <ng-container matColumnDef="tracknum">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">{{ element.tracknum }}</td>
      </ng-container>
      <ng-container matColumnDef="trackartist">
        <th mat-header-cell *matHeaderCellDef>Artist</th>
        <td mat-cell *matCellDef="let element">
          {{ element.trackartist ? element.trackartist : release.artist }}
        </td>
      </ng-container>
      <ng-container matColumnDef="tracktitle">
        <th mat-header-cell *matHeaderCellDef>Release</th>
        <td mat-cell *matCellDef="let element">{{ element.tracktitle }}</td>
      </ng-container>
      <ng-container matColumnDef="tracklength">
        <th mat-header-cell *matHeaderCellDef>Length</th>
        <td mat-cell *matCellDef="let element">
          {{ element.tracklength | duration }}
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          @if (element.loAvailable) {
            <button mat-button (click)="play(element)">
              <mat-icon>play_circle_outline</mat-icon>
              Preview
            </button>
          }
          @if (element.hiAvailable) {
            <button
              mat-button
              (click)="download(element)"
              >
              <mat-icon>save_alt</mat-icon>
              Download
            </button>
          }
        </td>
      </ng-container>
      <tr mat-header-row sticky *matHeaderRowDef="trackColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: trackColumns"></tr>
    </table>
  </div>
}

<h2>Comments</h2>
<app-comment-list-table
  [truncate]="true"
  [comments]="comments$ | async"
></app-comment-list-table>
